/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ksas-callouts-ksas-callout-block {
    margin: 0 0 1rem;
    padding: 1rem;
    border: 1px solid rgba(10,10,10,.25);
    border-radius: 0;
    background-color: $white;	
}

.wp-block-ksas-callouts-ksas-callout-block {
	font-family: "gentona-semibold","Helvetica Neue",Roboto,sans-serif;
	font-weight: 600;
  	font-style: normal;
  	font-display: swap;
  &.is-style-heritage {
    background-color: $heritageblue;
    color: $white;
    p a {
      color: $white;
    }
  }
  &.is-style-spirit {
    background-color: $spiritblue;
  }
    &.is-style-grey {
      background-color: $gray;
    }
  &.is-style-alert {
    background-color: $alert;
  }
}