/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #31261d;
$white: #fefefe;
$gray: #eaeaea;
$green: #bada55;
$red: orangered;
$spiritblue: #c3dcf5;
$heritageblue: #002d72;
$alert: #fff3d9;